<p style="color: green"><%= notice %></p>

<h1>Tweets</h1>

<div id="tweets">
  <% @tweets.each do |tweet| %>
    <tr>
      <td><%= tweet.tweet %></td>
      <td><%= link_to 'Show', tweet %></td>
      <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
      <td><%= link_to 'Destroy', tweet, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this post?" } %></td>
    </tr>
    <br>
  <% end %>
</div>

<%= link_to 'New tweet', new_tweet_path %>
